/*****GOOGLE FONTS ****/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Kalam|Neucha&display=swap');

a {
  text-decoration: none;
  color: black;
  font-size:1.5em;
}
/****TOP NAVIGATION******/
.colour-bar {
    background-color: rgb(172, 177, 113);
    padding: 0.5em;
    text-align: center;
    text-decoration: underline;
}
.first-nav{
    display: grid;
    grid-template-columns: 85% 10% 5%;
    margin: 1em;
}

.company-name {
    color: rgb(172, 177, 113);
    font-size: 2em;
}

.company-name a {
    margin: 0.5em;
}

.second-nav{
    display:grid;
    grid-template-columns: 10% 95% 5%;
    align-content: right;
}

.search-field{
    background-color:rgb(206, 203, 203);
    border-style: 0.25em;
    border-radius:1em;
    padding:1em;
    margin:0.5em;
    width:90%
}
.filter-section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5em;

  
}

select{
  border: none;
  border-color:none;
  margin: 1em;
  font-size: 1.5em;  
}

/**********PRODUCT SECTION************/

h2{
  font-size: 3em;
  text-align: center;
  color:black;
  margin: 2em 0em 2em 0em;
  font-weight: bold;
}
.products {
    display: grid;
    grid-gap: 1em;
  }
  
  .grid-view {
    grid-template-columns: 1fr 1fr;
  }
  
  
  .product {
    background-color: #fff;
    padding: 0 1em;
    /* margin: 1em 0; */
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
  }
  
  .product-name {
    text-transform: uppercase;
    color: rgb(172, 177, 113);
    font-size: 3em;
    margin:0.5em;
    text-align: center;
  }
  
  .product-image {
    width: 12em;
  }
  
  .grid-view .product-info {
    display: none;
  }

.product-info {
  text-align: center;
  font-size:1.5em;
  margin-bottom: 1em;
  background-color:rgb(236, 236, 236);
  ;
}

.product-description {
  background-color: white;
  padding-bottom: 1em;
  font-size: 1.5em;
  font-family: Alegreya;
}

.add-to-cart {
  background-color: rgb(172, 177, 113);
  margin:1em;
  padding:1em;
  text-align: center;
  border-radius: 2em;
  font-size: 2em;
  color:white;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
}


  
  /******* Footer ***********/
  .page-footer{
    background-color: rgb(172, 177, 113);
    text-align: center;
  }    
}


